<style>
  

    .find_mask_crowd_container .btn {
      position: static;
      background-color: #555;
      color: white;
      font-size: 16px;
      padding: 12px 12px;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
    }
    
    .find_mask_crowd_container .btn:hover {
      background-color: black;
    }
</style>

<html>
<head>
    <title>Wheres maldohead</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Hello World</h1>
    <div class="find_mask_crowd_container">
        <img src="crowd.jpg" alt="crowd picture" >
        <button class="btn">mask</button>
    </div>
    
</body>


</html>